Source: _APP_NAME_-apache2
Section: web
Priority: extra
Maintainer: Packager.io <support@packager.io>
Build-Depends: debhelper (>= 7)
Homepage: https://packager.io

Package: _APP_NAME_-apache2
Architecture: amd64
Pre-Depends: debconf
Provides: _APP_NAME_-apache2
Depends: apache2, ${misc:Depends}
Description: Provides Apache2 dependencies for _APP_NAME_.
